.homeB{
    background-color: rgba(255, 233, 38, 0.808);
    text-align: center;
}
h3{
    text-align: center;
}
.cardSection{
    display: flex;
    margin-left: 10em;
    margin-right: 10em;
}
.toolSection{
    text-align: center;
    margin: 1em 8em;
}